<!doctype html>
<html lang="en" class="h-100">
<head>
    <title>{% block title %}Yet Another Personal Work Time Tracking Thingie{% endblock %} - Yapwttt</title>
    <link rel="stylesheet" href="/css/themes/{{ theme }}.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    {% endblock %}
</head>
<body class="h-100">
<header>
    <h1 id="pageHeading">
        {% block headerText %}
            <a class="text-generic-accent">Yet </a>
            <a class="text-notify">Another </a>
            <a class="text-good">Personal </a>
            <a class="text-warning">Work </a>
            <a class="text-bad">Time </a>
            <a class="text-generic-accent">Tracking </a>
            <a class="text-notify">Thingie</a>
        {% endblock %} - Yapwttt
    </h1>
</header>
<section content id="pageContent">
    {% block content %}
    {% endblock %}
</section>
<footer>
    Yet Another Personal Work Time Tracking Thingie<br/>
    Check me out at <a href="https://github.com/DysphoricUnicorn/yapwttt">GitHub</a>
</footer>
</body>
</html>
