<!doctype html>
<html lang="en">
<head>
    <title>{% block title %}Yet Another Personal Work Time Tracking Thingy{% endblock %} - Yapwttt</title>
    {% block head %}
    {% endblock %}
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>
